body {
  width: 340px;
  color: #585858;
}

header {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  background-color: lightgoldenrodyellow;
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div {
  display: flex;
  margin: 10px;
  padding: 2px;
}

#headerLogo {
  width: 40px;
  height: 40px;
}

#options {
  width: 40px;
  height: 40px;
  border: 0;
  background-image: url("settings_gear.png");
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

#iki-toggle,
#session,
#reminders {
  border-style: solid;
  border-color: #585858;
  justify-content: space-between;
}

#iki-toggle {
  justify-content: space-around;
}

#toggleIki {
  height: 30px;
  position: relative;
  left: 7px;
  top: 10px;
}

#session-reset {
  height: 30px;
  position: relative;
  left: 10px;
  top: 72px;
}

#session-time {
  font-size: larger;
  font-weight: 800;
}
